body {
	font-family: sans-serif;
}

form div {
	display: flex;
	margin: 5px;
}
form label {
	min-width: 120px;
	padding: 7px 0;
}
input {
	padding: 7px;
}
th, td {
	padding: 7px;
}
th {
	border-bottom: 2px solid gray;
	text-align: left;
	margin: 0;
}
td {
	border-bottom: 1px solid lightgray;
}